<link rel="stylesheet" href="./components/update-user/update-user.css" />
<template id="update-modal">
  <div
    class="modal fade"
    id="update-form-modal"
    tabindex="-1"
    aria-labelledby="formModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="formModalLabel">資料更新</h1>
        </div>
        <div class="modal-body">
          <form id="update-form">
            <div class="row mb-3">
              <label for="account" class="col-sm-2 col-form-label text-center">帳號</label>
              <div class="col-sm-10">
                <input
                  id="account"
                  class="form-control"
                  type="text"
                  name="acco"
                  readonly
                  disabled
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="name" class="col-sm-2 col-form-label text-center">姓名</label>
              <div class="col-sm-10">
                <input id="name" class="form-control" type="text" name="name" readonly disabled />
              </div>
            </div>
            <div class="row mb-3">
              <label for="birth" class="col-sm-2 col-form-label text-center">生日</label>
              <div class="col-sm-10">
                <input id="birth" class="form-control" type="date" name="birth" readonly disabled />
              </div>
            </div>
            <div class="row mb-3">
              <label for="email" class="col-sm-2 col-form-label text-center">信箱</label>
              <div class="col-sm-10">
                <input
                  id="email"
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="請輸入電子信箱"
                  pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="tel" class="col-sm-2 col-form-label text-center">手機</label>
              <div class="col-sm-10">
                <input
                  id="tel"
                  class="form-control"
                  type="tel"
                  name="tel"
                  placeholder="請輸入手機"
                  pattern="^09\d{8}$"
                  maxlength="10"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <label for="addr" class="col-sm-2 col-form-label text-center">地址</label>
              <div class="col-sm-10">
                <input
                  id="addr"
                  class="form-control"
                  type="text"
                  name="addr"
                  placeholder="請輸入地址"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">確定</button>
        </div>
      </div>
    </div>
  </div>
</template>
