@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css);

:host div#table {
    display: grid;
    grid-template-columns: repeat(2, auto) repeat(9, 1fr);
    grid-auto-flow: row;
}

:host div#table > div {
    border: solid 1px black;
    padding: .2rem .75rem;
}
