<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./user-sign-up.css">
    <script src="./user-sign-up.js"></script>
    <title>會員註冊</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>會員註冊</legend>
            <label for="account">帳號：</label>
            <input id="account" type="text" placeholder="請輸入帳號">
        </fieldset>
    </form>
    
</body>
</html>